<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./detail.css">
    <title>Document</title>
</head>
<body>
    <div class="container__detail">

        <div class="container__detail--img">
            <span class="container__detail--img-close">&times;</span>
            <figure class="container__detail--img-figure">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/16.svg">
            </figure>
        </div>

        <div class="container__detail--content">

            <div class="container__detail--content-name">
                <p>NAME</p>
                <p>NATURE</p>
            </div>

            <div class="container__detail--content-life">
                <p>LIFE</p>
                <div>
                    <p class="container__detail--content-life-hp">100 hp</p>
                </div>
            </div>

            <div class="container__detail--content-type">
                <div class="type"><img src="../../img/bug.png" alt="" srcset=""></div>
                <div class="type"><img src="../../img/poison.png" alt="" srcset=""></div>
            </div>

            <div class="container__detail--content-damagerelations">

                <div class="container__detail--content-damagerelations-one">
                    <p>ATTACK</p>
                </div>

                <div class="container__detail--content-damagerelations-two">
                    <p>DEFENSE</p>
                </div>

                <div class="container__detail--content-damagerelations-three">
                    <p>SPECIAL ATTACK</p>
                </div>

                <div class="container__detail--content-damagerelations-four">
                    <p>SPECIAL DEFENSE</p>
                </div>
            </div>

            <div class="container__detail--content-ofensive">
                <div class="type"><img src="../../img/water.png" alt="" srcset=""></div>
                <div class="type"><img src="../../img/rock.png" alt="" srcset=""></div>
                <div class="type"><img src="../../img/normal.png" alt="" srcset=""></div>
            </div>

            <div class="container__detail--content-defensive">
                <div class="type"><img src="../../img/cristal.png" alt="" srcset=""></div>
                <div class="type"><img src="../../img/dark.png" alt="" srcset=""></div>
                <div class="type"><img src="../../img/dragon.png" alt="" srcset=""></div>
            </div>
        </div>
    </div>
</body>
</html>