<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./detail.css">
    <title>Document</title>
</head>
<body>
    <div>

        <div>

            <figure>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/16.svg">
            </figure>
        </div>

        <div>

            <div>
                <p>NAME</p>
                <p>NATURE</p>
            </div>

            <div>
                <p>LIFE</p>
                <p>#</p>
            </div>

            <div>
                <div>TYPE 1</div>
                <div>TYPE 2</div>
            </div>

            <div>

                <div>
                    <p>ATTACK</p>
                </div>

                <div>
                    <p>DEFENSE</p>
                </div>

                <div>
                    <p>SPECIAL ATTACK</p>
                </div>

                <div>
                    <p>SPECIAL DEFENSE</p>
                </div>
            </div>

            <div>

            </div>
        </div>
    </div>
</body>
</html>