/*
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografia
    4. Visuales
    5. Otros
*/

$primary-color:#1C315E;
$secondary-color:#227C70;
$tertiary-color:#88A47C;
$quaternary-color:#E6E2C3;
$dar-color:#000;
$light-color:#fff;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

html{
    font-size: 62.2%;
    font-family: "Roboto", sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $quaternary-color;
    transition: all 0.5s linear;
}

body{
    width: 100%;
    height: 100vh;
    font-size: 1.5rem;
}

.container__detail{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    padding: 16px 28px;
    background-color: $primary-color;
    
    &--img{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: $quaternary-color;
        box-sizing: border-box;
        border-radius: 20px;
        
        span{
            color: $dar-color;
            font-size: 40px;
            position: absolute;
            top: -10px;
            right: 10px;
        }
        
    }
    &--content{
        margin-top: 16px;
        
        &-name{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: end;
            font-size: 24px;
            
            // p:nth-child(2){
            //     width: 100px;
            //     background-color: $secondary-color;
            //     border: 1px solid $quaternary-color;
            //     border-radius: 20px;
            //     text-align: center;
            // }
            
            &-type{
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                
                div{
                    height: 100%;
                }

                div > img{
                    width: 24px;
                }
            }
        }
        
        &-life{
            width: 100%;
            height: 40px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 16px;
            justify-content: space-between;
            align-items: center;
            margin-top: 16px;
            
            p{
                width: 63px;
            }
            
            div{
                max-width: 300px;
                width: 60%;
                border-radius: 12px;
                overflow: hidden;
                background-color: $secondary-color;
                border: 1px solid $quaternary-color;
                
                p{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                }
            }
        }
        
        &-stat{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
            justify-content: space-around;
            align-items: center;
            margin-top: 16px;
            
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;
                gap: 40px;
                border-radius: 50%;
                background-color: $secondary-color;
                border: 1px solid $quaternary-color;
                position: relative;
                
                div p{
                    width: auto;
                    font-size: 40px;
                    color: $dar-color;
                }
                &:hover > div{
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                }
                
                p{
                    width: 60px;
                    font-size: 15px;
                }
            }

        }
        
        &-ofensive,&-defensive{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-top: 16px;
        }

        &-ofensive div,&-defensive div{
            display: flex;
            flex-direction: row;
            gap: 8px;
        }
        &-ofensive div p,&-defensive div p{
            border-bottom: 1px solid $quaternary-color;
        }
        &-ofensive div img,&-defensive div img{
            width: 45px;
        }

    }


}
.type img {
    border: 3px solid $dar-color;
    border-radius: 50%;
    overflow: hidden;
}
.stat div{
    display: none;
    background-color: $tertiary-color;
}

@media(min-width: 380px) {
    .container__detail{
        padding: 16px 10%;
    }
    .container__detail--content-name{
        p{
            font-size: 40px;
        }
        &-type div img{
            width: 40px;
        }

        
    }
    // .container__detail--content-stat div{
    //     width: 130px;
    //     height: 130px;
    // }
    .container__detail--content-life{
        height: 40px;
        margin-top: 32px;
        
        p{
            font-size: 24px;
        }


        div p{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            
        }
    }
    .container__detail--content-ofensive,.container__detail--content-defensive{
        
        div img{
            width: 60px;
        }
    }
}

@media(min-width: 460px) {
    // .container__detail--content-stat div{
    //     width: 150px;
    //     height: 150px;
    // }
    .container__detail--content-life{
        height: 40px;
        
        p{
            font-size: 24px;
        }

        div{
            width: 260px;
        }

        div p{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            
        }
    }
}
@media(min-width: 600px) {
    .container__detail{
        border: 1px solid black;
        max-width: 600px;
        margin: 0 auto;
        padding: 16px;
        border-radius: 12px;
    }
}