<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./cards.css">
    <link rel="stylesheet" href="../../node_modules/normalize.css/normalize.css">
    <title>Document</title>
</head>
<body>
    <div class="container-card">
        <div class="card">
            <div class="card__up">
                <p class="card__up-view">VIEW</p>
                <P class="card__up-name">NAME</P>
                <figure class="card__up-img">
                    <img class="card__up-img--style" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/16.svg" alt="pokemon Image">
                </figure>
            </div>
            <div class="card__bottom">
                <p class="card__bottom-button">PLAY</p>
            </div>
        </div>
        <div class="card">
            <div class="card__up">
                <p class="card__up-view">VIEW</p>
                <P class="card__up-name">NAME</P>
                <figure class="card__up-img">
                    <img class="card__up-img--style" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/16.svg" alt="pokemon Image">
                </figure>
            </div>
            <div class="card__bottom">
                <p class="card__bottom-button">PLAY</p>
            </div>
        </div>
        <div class="card">
            <div class="card__up">
                <p class="card__up-view">VIEW</p>
                <P class="card__up-name">NAME</P>
                <figure class="card__up-img">
                    <img class="card__up-img--style" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/16.svg" alt="pokemon Image">
                </figure>
            </div>
            <div class="card__bottom">
                <p class="card__bottom-button">PLAY</p>
            </div>
        </div>
        <div class="card">
            <div class="card__up">
                <p class="card__up-view">VIEW</p>
                <P class="card__up-name">NAME</P>
                <figure class="card__up-img">
                    <img class="card__up-img--style" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/16.svg" alt="pokemon Image">
                </figure>
            </div>
            <div class="card__bottom">
                <p class="card__bottom-button">PLAY</p>
            </div>
        </div>
    </div>
</body>
</html>